@charset "utf-8";
/* CSS Document */

body, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Dosis', sans-serif;
  color: white;
}

body {
  background-color: #43638a;
}
